.black {
    background-color: #303030;
}

.brown {
    background-color: #bb7835;
}

.white {
    background-color: #d2d2d2;
    color: #212121;
}

.yellow {
    background-color: #eab23a;
}

.orange {
    background-color: #ff9d35;
}

.salmon {
    background-color: #e97453;
}

.red {
    background-color: #e22e28;
}

.crimson {
    background-color: #aa0000;
}

.maroon {
    background-color: #b13973;
}

.pink {
    background-color: #ff82cf;
}

.magenta {
    background-color: #aa00aa;
}

.purple {
    background-color: #54348f;
}

.lavender {
    background-color: #806ee7;
}

.blue {
    background-color: #3065b5;
}

.sea {
    background-color: #32ABD9;
}

.teal {
    background-color: #00aaaa;
}

.mint {
    background-color: #23a26b;
}

.green {
    background-color: #00ab00;
}