:root {
	--font-size: small;
	--border-radius: 12pt;
	--generic-blur: blur(20px) saturate(120%);
	--background-color: #002436;
	--font-weight: 500;
	--font-mono: 'SF Mono', 'Source Code Pro', 'Menlo', 'Consolas', monospace;
	--font-ui: -apple-system, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI Variable', 'Segoe UI', system-ui, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Droid Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
	--box-shadow: 0 1pt 2pt #00000077;
	--text-light: white;
	--text-dark: #090909;
	--obj-generic-radius: 6pt;
	--obj-square-radius: 0;
	--obj-circle-radius: 50%;
	--obj-round-radius: 1024px;
	--obj-min-height: 12pt;
	--obj-min-width: 10pt;
	--obj-padding: 4pt 6pt;
	--obj-margin: 1pt 0 1pt 0;
	--obj-background: radial-gradient(ellipse at top right, #ffffff33 0%, #66666633 100%);
	/*Theme Controlled*/
	--window-color: #ddd;
	--window-invcolor: #343a40;
	--text-color: #090909;
	--text-invcolor: white;
	--blur-color: #f8f9facc;
	--border: none;

}
.dark-mode {
	--window-color: #343a40;
	--window-invcolor: #ddd;
	--text-color: white;
	--text-invcolor: #090909;
	--blur-color: #343a40cc;
	--border: 0.5pt solid #666;
}
html,
body {
	font-family: var(--font-ui);
	color: var(--text-color);
	font-weight: var(--font-weight);
	background: var(--background-color);
	font-size: var(--font-size);
	margin: 0;
	padding: 0;
	background-size: cover;
	background-attachment: fixed;
	user-select: none;
}
.window {
	border-radius: var(--border-radius);
	border: var(--border);
	box-shadow: var(--box-shadow);
	background: var(--window-color);
}
.navi {
	border-bottom: var(--border);
	background: var(--blur-color);
	backdrop-filter: var(--generic-blur);
	box-shadow: var(--box-shadow);
	display: inline-flex;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 1024;
}
.navi a {
	color: var(--text-color);
	border-radius: var(--border-radius);
	margin: 8pt;
	text-align: center;
	border: none;
	width: 100%;
	font-weight: bold;
	text-decoration: none;
}
.navi a:hover {
	color: var(--text-light);
	background-color: #1680a6;
	transition: ease-out 0.15s;
}
/* Conditions */
.selectable {
	user-select: text;
}
/*Large Window*/
@media only screen and (min-width: 1280px) {
	.content {
		margin: 0.25in 2in;
	}
}
/*Normal Window*/
@media only screen and (min-width: 636px) {

	.window,
	.tabs {
		margin: 0.25in;
	}

	.window {
		padding: 0.5in;
	}
}
/*Small Window*/
@media only screen and (max-width: 850px) {
	table {
		width: 100%;
	}
}
/*mobile*/
@media only screen and (max-width: 635px) {
	.window,
	.tabs {
		margin: 0.125in;
	}

	.window {
		padding: 0.25in;
	}
}
a {
	cursor: pointer;
}
/* Style the tab */
.tabs {
	overflow: hidden;
}
/* Style the buttons inside the tab */
.tab {
	color: var(--text-color);
	border-radius: var(--border-radius);
	background: var(--window-color);
	min-width: var(--obj-min-width);
	min-height: var(--obj-min-height);
	background-color: var(--window-color);
	border: var(--border);
	box-shadow: var(--box-shadow);
	display: inline-block;
	text-transform: uppercase;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	padding: 10pt;
}
/* Style the tab content */
.tabcontent {
	display: none;
}
/*Timetable Formatting*/
.collapsible {
	padding: var(--obj-padding);
	margin: var(--obj-margin);
	color: var(--text-light);
	border-radius: var(--obj-generic-radius);
	background: var(--obj-background);
	min-width: var(--obj-min-width);
	min-height: var(--obj-min-height);
	display: grid;
	text-transform: uppercase;
	white-space: nowrap;
	text-decoration: none;
}
.collapsible:hover,
.tag:hover,
.tab button:hover,
.tab button.active {
	transition: ease-out 0.15s;
	filter: brightness(1.2);
}
.folded {
	display: none;
	overflow: hidden;
}
.timetable {
	color: var(--text-color);
	font-weight: normal;
	text-transform: uppercase;
	border-collapse: collapse;
	width: 95%;
	display: grid;
	margin: 1pt 2.5% 1pt 2.5%;
}
.srvto {
	cursor: default;
	padding: 1pt 4pt;
	background: radial-gradient(ellipse at top, #ffffff33 0%, #66666633 100%);
}
/*Tag Formatting*/
.tag {
	padding: var(--obj-padding);
	margin: var(--obj-margin);
	color: var(--text-light);
	border-radius: var(--obj-generic-radius);
	background: var(--obj-background);
	min-width: var(--obj-min-width);
	min-height: var(--obj-min-height);
	display: inline-block;
	text-transform: uppercase;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
}
.grouped {
	display: inline-block;
	white-space: nowrap;
}
.origin {
	background-color: #23a26b;
}
.poi {
	background-color: #ffe250;
}
.terminus {
	background-color: #aa0000;
}
.heading {
	background-color: var(--window-invcolor);
	color: var(--text-invcolor);
}